// #submit {
//   display: block;
// }
#name {
  height: 5vh;
  width: 30vw;
  border-radius: 6.5em;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  padding-left: 18px;
  transition: all 1s;
  &:hover {
    transform: scale(1.1);
  }
}

#submit {
  display: block;
  margin: auto;
  position: relative;
  top: 30px;
  font-family: "Poppins", sans-serif;
  border-radius: 7em;
  transition: all 1s;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 5px 10px;
  &:hover {
    transform: scale(1.1);
  }
}

.container {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .row1 {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    .card1,
    .card2,
    .card3,
    .card4 {
      width: 25%;
      height: 70%;
      margin: 10px;
      border-radius: 10%;
      padding: 10px;
      justify-content: center;
      align-items: center;
      border: 2px solid white;
      display: flex;
      flex-direction: column;
      transition: 0.3s;
      &:hover {
        transform: scale(1.05);
      }
    }
    .heading {
      font-weight: 800;
      font-size: 30px;
    }

    .concentration {
      padding-top: 15px;
      margin: 5px;
      font-size: 10px;
    }
    .aqi {
      font-size: 10px;
      padding: 0;
      margin: 0;
    }
  }
}

.row2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 40%;
  height: 20%;
  margin-top: 10px;
  font-weight: 800;
  padding-top: 0;
  font-size: 30px;
}

.loader-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #d8e9a8 transparent #d8e9a8 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay-green {
  background-color: #00e400;
}
.overlay-yellow {
  background-color: #ffff00;
}
.overlay-orange {
  background-color: #ff7e00;
}
.overlay-red {
  background-color: #ff0000;
}
.overlay-purple {
  background-color: #8f3f97;
}
.overlay-maroon {
  background-color: #7e0023;
}
.overlay2-green {
  color: #00e400;
}
.overlay2-yellow {
  color: #ffff00;
}
.overlay2-orange {
  color: #ff7e00;
}
.overlay2-red {
  color: #ff0000;
}
.overlay2-purple {
  color: #8f3f97;
}
.overlay2-maroon {
  color: #7e0023;
}

.hidden-div {
  background-color: #191a19;
  display: none;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  padding: 0;
  margin: 0;
  bottom: 1.4px;
  animation: fade-in 0.3s ease-in;
}

.hidden-div2 {
  background-color: #191a19;
  display: none;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  padding: 0;
  margin: 0;
  bottom: 1.4px;
  animation: fade-in 0.3s ease-in;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
  font-size: 25px;
  font-weight: 600;
  width: 90%;
  // padding: 40px;
  height: 90%;
  position: relative;
  bottom: 13px;
}
.error-solution {
  display: flex;
  align-items: left;
  justify-content: left;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 17%;
  }
}
